<?xml version="1.0"?>
<robot name="ModularBot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:property name="ADD_D435I_FRONT" value="false" />
<xacro:property name="ADD_D435I_BACK" value="false" />
<xacro:property name="ADD_T265_LEFT" value="false" />
<xacro:property name="ADD_T265_RIGHT" value="false" />

<xacro:if value="${ADD_CAMERAS}">
    <xacro:property name="ADD_D435I_FRONT" value="true" />
    <xacro:property name="ADD_D435I_BACK" value="true" />
    <!-- <xacro:property name="ADD_T265_LEFT" value="true" />
    <xacro:property name="ADD_T265_RIGHT" value="true" /> -->
    <xacro:property name="ADD_DRILL_CAMERA" value="true" />
</xacro:if>

<xacro:property name="ADD_VELODYNE_FRONT" value="false" />
<xacro:property name="ADD_VELODYNE_BACK" value="false" />

<xacro:if value="${ADD_VELODYNE}">
    <xacro:property name="ADD_VELODYNE_FRONT" value="true" />
    <xacro:property name="ADD_VELODYNE_BACK" value="true" />
</xacro:if>

<xacro:macro name="add_mobile_base_sensors" params="parent_name">
    
    <joint name="base_link_projected_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_link_projected"/>
        <origin xyz="0 0 -0.747" rpy="0 0 0"/>
    </joint>

    <link name="base_link_projected"/>
    
    <!-- Add front D435i camera -->
    <!-- <xacro:property name="d435i_front_name" value="D435i_camera_front" />
    <xacro:property name="d435i_front_parent_name" value="${parent_name}" />
    <xacro:property name="d435i_front_origin">
        <origin xyz="0.402872 0.0 -0.078218" rpy="0 0.261799 0"/>
    </xacro:property>
    <xacro:add_realsense_d_camera name="${d435i_front_name}" 
                                parent_name="${d435i_front_parent_name}" 
                                add_gazebo_sensor="${ADD_D435I_FRONT}">
        <xacro:insert_block name="d435i_front_origin" />
    </xacro:add_realsense_d_camera> -->

    <!-- Add back D435i camera -->
    <!-- <xacro:property name="d435i_back_name" value="D435i_camera_back" />
    <xacro:property name="d435i_back_parent_name" value="${parent_name}" />
    <xacro:property name="d435i_back_origin">
        <origin xyz="-0.402872 0.0 -0.078218" rpy="0 0.261799 3.141593"/>
    </xacro:property> -->

    <!-- <xacro:add_realsense_d_camera name="${d435i_back_name}" 
                                parent_name="${d435i_back_parent_name}" 
                                add_gazebo_sensor="${ADD_D435I_BACK}">
        <xacro:insert_block name="d435i_back_origin" />
    </xacro:add_realsense_d_camera> -->

    <!-- Add left T265 camera -->
    <xacro:property name="t265_left_name" value="T265_camera_left" />
    <xacro:property name="t265_left_parent_name" value="${parent_name}" />
    <xacro:property name="t265_left_origin">
        <origin xyz="0.02375 0.37245 -0.062" rpy="3.141593 0.0 1.570796"/>
    </xacro:property>

    <xacro:add_realsense_t_camera name="${t265_left_name}" 
                                parent_name="${t265_left_parent_name}" 
                                add_gazebo_sensor="${ADD_T265_LEFT}">
        <xacro:insert_block name="t265_left_origin" />
    </xacro:add_realsense_t_camera>

    <!-- Add right T265 camera -->
    <xacro:property name="t265_right_name" value="T265_camera_right" />
    <xacro:property name="t265_right_parent_name" value="${parent_name}" />
    <xacro:property name="t265_right_origin">
        <origin xyz="0.02375 -0.37245 -0.062" rpy="0 0.0 -1.570796"/>
    </xacro:property>

    <xacro:add_realsense_t_camera name="${t265_right_name}" 
                                parent_name="${t265_right_parent_name}" 
                                add_gazebo_sensor="${ADD_T265_RIGHT}">
        <xacro:insert_block name="t265_right_origin" />
    </xacro:add_realsense_t_camera>

    
    <!-- Add IMU sensor -->
    <xacro:if value="${ADD_IMU}">
        <xacro:include filename="$(find imu_simulator)/urdf/imu.urdf.xacro" />
        <xacro:property name="imu_name" value="imu" />
        <xacro:property name="imu_parent_name" value="${parent_name}" />
        <xacro:property name="imu_origin">
            <origin xyz="0 0 0.1" rpy="0 0 0"/>
        </xacro:property>
        <xacro:add_imu_sensor name="${imu_name}" 
                            parent="${imu_parent_name}">
            <xacro:insert_block name="imu_origin" />
        </xacro:add_imu_sensor>
    </xacro:if>

    <!-- Add Velodyne front -->
    <xacro:property name="velodyne_front_name" value="VLP16_lidar_front" />
    <xacro:property name="velodyne_front_parent_name" value="${parent_name}" />
    <xacro:property name="velodyne_front_origin">
        <origin xyz="0.5305 0.315 -0.0627" rpy="3.141593 0.0 1.570796"/>
    </xacro:property>
    
    <xacro:if value="${ADD_VELODYNE_FRONT}">
        <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
        
        <xacro:VLP-16 parent="${velodyne_front_parent_name}" name="${velodyne_front_name}">
            <xacro:insert_block name="velodyne_front_origin" />
        </xacro:VLP-16>

        <xacro:VLP-16-gz-sensor name="${velodyne_front_name}" topic="/${velodyne_front_name}" hz="10" samples="440" gpu="${USE_GPU_RAY}" min_angle="-1.04" max_angle="3.66">
        </xacro:VLP-16-gz-sensor>
    </xacro:if>
    <xacro:unless value="${ADD_VELODYNE_FRONT}">
        <joint name="${velodyne_front_name}_base_mount_joint" type="fixed">
            <xacro:insert_block name="velodyne_front_origin"/>
            <parent link="${velodyne_front_parent_name}"/>
            <child link="${velodyne_front_name}_base_link"/>
        </joint>
        <link name="${velodyne_front_name}_base_link"/>
    </xacro:unless>

    <!-- Add Velodyne back -->
    <xacro:property name="velodyne_back_name" value="VLP16_lidar_back" />
    <xacro:property name="velodyne_back_parent_name" value="${parent_name}" />
    <xacro:property name="velodyne_back_origin">
        <origin xyz="-0.5305 -0.315 -0.0627" rpy="3.141593 0.0 -1.570796"/>
    </xacro:property>

    <xacro:if value="${ADD_VELODYNE_BACK}">
        <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
        
        <xacro:VLP-16 parent="${velodyne_back_parent_name}" name="${velodyne_back_name}">
            <xacro:insert_block name="velodyne_back_origin" />
        </xacro:VLP-16>

        <xacro:VLP-16-gz-sensor name="${velodyne_back_name}" topic="/${velodyne_back_name}" hz="10" samples="440" gpu="${USE_GPU_RAY}" min_angle="-1.04" max_angle="3.66">
        </xacro:VLP-16-gz-sensor>
    </xacro:if>
    <xacro:unless value="${ADD_VELODYNE_BACK}">
        <joint name="${velodyne_back_name}_base_mount_joint" type="fixed">
            <xacro:insert_block name="velodyne_back_origin"/>
            <parent link="${velodyne_back_parent_name}"/>
            <child link="${velodyne_back_name}_base_link"/>
        </joint>
        <link name="${velodyne_back_name}_base_link"/>
    </xacro:unless>

    <!-- Ultrasound sensors -->
    <xacro:property name="ultrasound_parent_name" value="${parent_name}" />
    <xacro:property name="ultrasound_ns" value="bosch_uss5" />

    <!-- Macro for adding ultrasound sensor -->
    <xacro:macro name="add_ultrasound_sensor" params="parent_name name topic *origin">
 
        <joint name="${name}_base_mount_joint" type="fixed">
            <xacro:insert_block name="origin" /> 
            <parent link="${parent_name}"/>
            <child link="${name}_base_link"/>
        </joint>
        <link name="${name}_base_link"/>

        <joint name="${name}_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0.0 -1.57 0.0"/>
            <parent link="${name}_base_link"/>
            <child link="${name}"/>
        </joint>
        <link name="${name}"/>
        
        <xacro:if value="${ADD_ULTRASOUND}">
            <xacro:add_ultrasound_gazebo name="${name}" topic="${topic}/scan" />
        </xacro:if>

    </xacro:macro>

    <!-- Add front-left Bosch USS5 ultrasound sensor -->
    <xacro:property name="ultrasound_front_left_sagittal_name" value="ultrasound_fl_sag" />
    <xacro:property name="ultrasound_front_left_sagittal_origin">
        <origin xyz="0.5105 0.315 -0.129" rpy="0.0 1.963496 0.0"/>
    </xacro:property>

    <xacro:add_ultrasound_sensor parent_name="${ultrasound_parent_name}" 
                            name="${ultrasound_front_left_sagittal_name}" 
                            topic="/${ultrasound_ns}/${ultrasound_front_left_sagittal_name}">
        <xacro:insert_block name="ultrasound_front_left_sagittal_origin" />
    </xacro:add_ultrasound_sensor>

    <!-- Add front-right Bosch USS5 ultrasound sensor -->
    <xacro:property name="ultrasound_front_right_sagittal_name" value="ultrasound_fr_sag" />
    <xacro:property name="ultrasound_front_right_sagittal_origin">
        <origin xyz="0.5105 -0.315 -0.129" rpy="0.0 1.963496 0.0"/>
    </xacro:property>

    <xacro:add_ultrasound_sensor parent_name="${ultrasound_parent_name}" 
                            name="${ultrasound_front_right_sagittal_name}" 
                            topic="/${ultrasound_ns}/${ultrasound_front_right_sagittal_name}">
        <xacro:insert_block name="ultrasound_front_right_sagittal_origin" />
    </xacro:add_ultrasound_sensor>

    <!-- Add back-left Bosch USS5 ultrasound sensor -->
    <xacro:property name="ultrasound_rear_left_sagittal_name" value="ultrasound_rl_sag" />
    <xacro:property name="ultrasound_rear_left_sagittal_origin">
        <origin xyz="-0.5105 0.315 -0.129" rpy="0.0 1.963496 3.141593"/>
    </xacro:property>

    <xacro:add_ultrasound_sensor parent_name="${ultrasound_parent_name}" 
                            name="${ultrasound_rear_left_sagittal_name}" 
                            topic="/${ultrasound_ns}/${ultrasound_rear_left_sagittal_name}">
        <xacro:insert_block name="ultrasound_rear_left_sagittal_origin" />
    </xacro:add_ultrasound_sensor>

    <!-- Add back-right Bosch USS5 ultrasound sensor -->
    <xacro:property name="ultrasound_rear_right_sagittal_name" value="ultrasound_rr_sag" />
    <xacro:property name="ultrasound_rear_right_sagittal_origin">
        <origin xyz="-0.5105 -0.315 -0.129" rpy="0.0 1.963496 3.141593"/>
    </xacro:property>

    <xacro:add_ultrasound_sensor parent_name="${ultrasound_parent_name}" 
                            name="${ultrasound_rear_right_sagittal_name}" 
                            topic="/${ultrasound_ns}/${ultrasound_rear_right_sagittal_name}">
        <xacro:insert_block name="ultrasound_rear_right_sagittal_origin" />
    </xacro:add_ultrasound_sensor>

    <!-- Add left-front Bosch USS5 ultrasound sensor -->
    <xacro:property name="ultrasound_front_left_lateral_name" value="ultrasound_fl_lat" />
    <xacro:property name="ultrasound_front_left_lateral_origin">
        <origin xyz="0.4515 0.365 -0.117" rpy="0.0 1.963496 1.570796"/>
    </xacro:property>

    <xacro:add_ultrasound_sensor parent_name="${ultrasound_parent_name}" 
                            name="${ultrasound_front_left_lateral_name}" 
                            topic="/${ultrasound_ns}/${ultrasound_front_left_lateral_name}">
        <xacro:insert_block name="ultrasound_front_left_lateral_origin" />
    </xacro:add_ultrasound_sensor>

    <!-- Add left-back Bosch USS5 ultrasound sensor -->
    <xacro:property name="ultrasound_rear_left_lateral_name" value="ultrasound_rl_lat" />
    <xacro:property name="ultrasound_rear_left_lateral_origin">
        <origin xyz="-0.4515 0.365 -0.117" rpy="0.0 1.963496 1.570796"/>
    </xacro:property>

    <xacro:add_ultrasound_sensor parent_name="${ultrasound_parent_name}" 
                            name="${ultrasound_rear_left_lateral_name}" 
                            topic="/${ultrasound_ns}/${ultrasound_rear_left_lateral_name}">
        <xacro:insert_block name="ultrasound_rear_left_lateral_origin" />
    </xacro:add_ultrasound_sensor>

    <!-- Add right-front Bosch USS5 ultrasound sensor -->
    <xacro:property name="ultrasound_front_right_lateral_name" value="ultrasound_fr_lat" />
    <xacro:property name="ultrasound_front_right_lateral_origin">
        <origin xyz="0.4515 -0.365 -0.117" rpy="0.0 1.963496 -1.570796"/>
    </xacro:property>

    <xacro:add_ultrasound_sensor parent_name="${ultrasound_parent_name}" 
                            name="${ultrasound_front_right_lateral_name}" 
                            topic="/${ultrasound_ns}/${ultrasound_front_right_lateral_name}">
        <xacro:insert_block name="ultrasound_front_right_lateral_origin" />
    </xacro:add_ultrasound_sensor>

    <!-- Add right-back Bosch USS5 ultrasound sensor -->
    <xacro:property name="ultrasound_rear_right_lateral_name" value="ultrasound_rr_lat" />
    <xacro:property name="ultrasound_rear_right_lateral_origin">
        <origin xyz="-0.4515 -0.365 -0.117" rpy="0.0 1.963496 -1.570796"/>
    </xacro:property>

    <xacro:add_ultrasound_sensor parent_name="${ultrasound_parent_name}" 
                            name="${ultrasound_rear_right_lateral_name}" 
                            topic="/${ultrasound_ns}/${ultrasound_rear_right_lateral_name}">
        <xacro:insert_block name="ultrasound_rear_right_lateral_origin" />
    </xacro:add_ultrasound_sensor>

    <!-- Add Dalsa Cameras -->
    <joint name="fixed_dalsa_camera_right" type="fixed">
        <axis xyz="0 0 1" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="dalsa_camera_right"/>
        <origin xyz="0.445 -0.285 0.074" rpy="0.0 -0.26179278697487707 -0.5235508063884032"/>
    </joint>
    <link name="dalsa_camera_right"/>

    <joint name="fixed_dalsa_camera_left" type="fixed">
        <axis xyz="0 0 1" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="dalsa_camera_left"/>
        <origin xyz="0.445 0.285 0.074" rpy="0.0 -0.26179278697487707 0.5235508063884032"/>
    </joint>
    <link name="dalsa_camera_left"/>

</xacro:macro>

<!-- Macro for adding ultrasound sensor in Gazebo Sim (ROS2) -->
<xacro:macro name="add_ultrasound_gazebo" params="name topic">
    <gazebo reference="${name}">
        <sensor name="${name}_sonar" type="gpu_ray">
            <always_on>true</always_on>
            <update_rate>5</update_rate>
            <visualize>true</visualize>
            <topic>${topic}</topic>
            <gz_frame_id>${name}</gz_frame_id>
            <ray>
                <scan>
                    <horizontal>
                        <samples>5</samples>
                        <resolution>1.0</resolution>
                        <min_angle>-1.15</min_angle>
                        <max_angle>1.15</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>5</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.5</min_angle>
                        <max_angle>0.5</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.2</min>
                    <max>3.0</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.005</stddev>
                </noise>
            </ray>
        </sensor>
    </gazebo>
</xacro:macro>

<!-- ============================================================ -->
<!-- Macro for RealSense D435i - NATIVE GAZEBO RENDERING          -->
<!-- This uses Gazebo's built-in camera rendering, NOT test data  -->
<!-- ============================================================ -->
<xacro:macro name="add_realsense_d_camera" params="name parent_name *origin add_gazebo_sensor">

    <!-- Camera body link -->
    <link name="${name}_bottom_screw_frame">
        <visual>
            <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
            <geometry>
                <box size="0.025 0.090 0.025"/>
            </geometry>
            <material name="gray">
                <color rgba="0.5 0.5 0.5 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
            <geometry>
                <box size="0.02505 0.090 0.025"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.072"/>
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
        </inertial>
    </link>

    <!-- Joint to parent -->
    <joint name="${name}_joint" type="fixed">
        <xacro:insert_block name="origin"/>
        <parent link="${parent_name}"/>
        <child link="${name}_bottom_screw_frame"/>
    </joint>

    <!-- Camera link (sensor reference frame) -->
    <link name="${name}_link"/>
    <joint name="${name}_link_joint" type="fixed">
        <origin xyz="0 0.0175 0.0125" rpy="0 0 0"/>
        <parent link="${name}_bottom_screw_frame"/>
        <child link="${name}_link"/>
    </joint>

    <!-- Depth frame -->
    <link name="${name}_depth_frame"/>
    <joint name="${name}_depth_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="${name}_link"/>
        <child link="${name}_depth_frame"/>
    </joint>

    <!-- Depth optical frame -->
    <link name="${name}_depth_optical_frame"/>
    <joint name="${name}_depth_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
        <parent link="${name}_depth_frame"/>
        <child link="${name}_depth_optical_frame"/>
    </joint>

    <!-- Color frame -->
    <link name="${name}_color_frame"/>
    <joint name="${name}_color_joint" type="fixed">
        <origin xyz="0 0.015 0" rpy="0 0 0"/>
        <parent link="${name}_depth_frame"/>
        <child link="${name}_color_frame"/>
    </joint>

    <!-- Color optical frame -->
    <link name="${name}_color_optical_frame"/>
    <joint name="${name}_color_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
        <parent link="${name}_color_frame"/>
        <child link="${name}_color_optical_frame"/>
    </joint>

    <!-- Left IR frame -->
    <link name="${name}_left_ir_frame"/>
    <joint name="${name}_left_ir_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="${name}_depth_frame"/>
        <child link="${name}_left_ir_frame"/>
    </joint>

    <!-- Left IR optical frame -->
    <link name="${name}_left_ir_optical_frame"/>
    <joint name="${name}_left_ir_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
        <parent link="${name}_left_ir_frame"/>
        <child link="${name}_left_ir_optical_frame"/>
    </joint>

    <!-- Right IR frame -->
    <link name="${name}_right_ir_frame"/>
    <joint name="${name}_right_ir_joint" type="fixed">
        <origin xyz="0 -0.050 0" rpy="0 0 0"/>
        <parent link="${name}_depth_frame"/>
        <child link="${name}_right_ir_frame"/>
    </joint>

    <!-- Right IR optical frame -->
    <link name="${name}_right_ir_optical_frame"/>
    <joint name="${name}_right_ir_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
        <parent link="${name}_right_ir_frame"/>
        <child link="${name}_right_ir_optical_frame"/>
    </joint>

    <!-- ========================================== -->
    <!-- NATIVE GAZEBO RGBD CAMERA - REAL RENDERING -->
    <!-- Uses rgbd_camera type for combined RGB+Depth -->
    <!-- Topics: /{name}/image, /{name}/depth_image, /{name}/points -->
    <!-- ========================================== -->
    <xacro:if value="${add_gazebo_sensor}">
        <gazebo reference="${name}_link">
            
            <!-- RGBD Camera (combined RGB + Depth + PointCloud) -->
            <sensor name="${name}_rgbd" type="rgbd_camera">
                <always_on>1</always_on>
                <update_rate>30</update_rate>
                <visualize>true</visualize>
                <topic>${name}</topic>
                <gz_frame_id>${name}_depth_optical_frame</gz_frame_id>
                <camera name="${name}">
                    <horizontal_fov>1.211259</horizontal_fov>
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>100</far>
                    </clip>
                    <depth_camera>
                        <clip>
                            <near>0.1</near>
                            <far>10</far>
                        </clip>
                    </depth_camera>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                    <optical_frame_id>${name}_depth_optical_frame</optical_frame_id>
                </camera>
            </sensor>

        </gazebo>
    </xacro:if>

</xacro:macro>

<!-- Macro for T265 camera - Dummy frames only (discontinued) -->
<xacro:macro name="add_realsense_t_camera" params="name parent_name *origin add_gazebo_sensor">
    <joint name="${name}_joint" type="fixed">
        <xacro:insert_block name="origin"/>
        <parent link="${parent_name}"/>
        <child link="${name}_pose_frame"/>
    </joint>
    <link name="${name}_pose_frame"/>
</xacro:macro>

</robot>